---
- name: Add Scylla repos
  block:
  - name: Install gnupg2 dependency
    apt:
      name: "gnupg2"
      state: present
      update_cache: yes
    when: install_type == 'online' and scylla_repo_keyserver is defined and scylla_repo_keys is defined and (scylla_repo_keys|length > 0)

  - name: Add an apt key by id from a keyserver
    apt_key:
      keyserver: "{{ scylla_repo_keyserver }}"
      id: "{{ item }}"
      state: present
    with_items: "{{ scylla_repo_keys }}"
    when: install_type == 'online' and scylla_repo_keyserver is defined and scylla_repo_keys is defined and (scylla_repo_keys|length > 0)

  - name: Add an Apt signing key for Debian
    apt_key:
      url: "{{ item }}"
      state: present
    with_items: "{{ scylla_repo_keyfile_urls }}"
    when: scylla_repo_keyfile_urls is defined and (scylla_repo_keyfile_urls|length > 0)

  - name: Install Scylla repo
    get_url:
      url: "{{ item }}"
      dest: '/etc/apt/sources.list.d/{{ item.split("/")[-1] | lower }}'
      mode: '0644'
      owner: root
    with_items: "{{ scylla_deb_repos }}"
    when: install_type == 'online' and item.split(".")[-1] == "list"

  become: true

- name: Install Scylla
  block:
  - name: Run "apt-get update"
    apt:
      update_cache: yes

  - name: Install additional dependencies
    apt:
      name: "{{ scylla_dependencies }}"
      state: present
      force_apt_get: yes
    when: scylla_dependencies is defined and (scylla_dependencies|length > 0)

  - name: Install Java
    apt:
      name: openjdk-8-jre-headless
      state: present
      force_apt_get: yes

  - name: Correct java version selected
    alternatives:
      name: java
      path: /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

  - name: "Going to install {{ scylla_version }}"
    set_fact:
      scylla_version_to_install: "{{ scylla_version }}"

  - name: Install Scylla packages
    include_tasks: Debian_install.yml
  become: true

# TODO: Implement this for the debian based distros
# - name: install prerequisite python-yaml
#   shell: |
#     for i in `yum search python3|grep -i pyyaml|awk '{ print $1 }'`; do sudo yum -y install $i; done
#   become: true


- name: install and configure Scylla Manager Agent
  block:
    - name: Add an apt key by id from a keyserver
      apt_key:
        keyserver: "{{ scylla_repo_keyserver }}"
        id: "{{ item }}"
        state: present
      with_items: "{{ scylla_manager_repo_keys }}"
      when: install_type == 'online' and scylla_repo_keyserver is defined and scylla_manager_repo_keys is defined and (scylla_manager_repo_keys|length > 0)
      become: true

    - name: add Scylla Manager repo
      get_url:
        url: "{{ scylla_manager_deb_repo_url }}"
        dest: '/etc/apt/sources.list.d/{{ scylla_manager_deb_repo_url.split("/")[-1] | lower }}'
        mode: '0644'
        owner: root
      when: scylla_manager_deb_repo_url.split(".")[-1] == "list"

    - name: Run "apt-get update"
      apt:
        update_cache: yes

    - name: install the manager agent
      apt:
        name: scylla-manager-agent
        state: present
      when: (scylla_manager_agent_upgrade is not defined) or (scylla_manager_agent_upgrade|bool == False)

    - name: install the latest manager agent
      apt:
        name: scylla-manager-agent
        state: present
      when: scylla_manager_agent_upgrade is defined and scylla_manager_agent_upgrade|bool

  become: true
  when: scylla_manager_enabled|bool == true

- name: install XFSprogs
  apt:
    name: xfsprogs
    state: present
  become: true
