---

# Facts gathering
- name: Populate service facts
  ansible.builtin.service_facts:

- name: Populate package facts
  package_facts:
    manager: auto

# Upgrade
- name: Upgrade Scylla
  include_tasks: upgrade/main.yml
  when: upgrade_version

# Install
- name: os-specific tasks
  include_tasks: "{{ ansible_os_family }}.yml"
  when: not upgrade_version

- name: common tasks
  include_tasks: common.yml
  when: not upgrade_version and install_only|bool == false

