---

- name: check for pre-existing agent-token file
  stat:
    path: scyllamgr_auth_token.txt
  register: token_file_stat
  run_once: true
  delegate_to: localhost

- name: generate a new token file
  block:
  - name: generate the agent key
    shell: |
      LC_CTYPE=C tr -dc 'a-zA-Z0-9' < /dev/urandom | fold -w 128 | head -n 1
    register: scyllamgr_auth_token
    delegate_to: localhost
    run_once: true

  - name: store the auth token in a local file for later use
    copy:
      content: |
        {{ scyllamgr_auth_token.stdout }}
      dest: scyllamgr_auth_token.txt
    delegate_to: localhost
    run_once: true
  when: token_file_stat.stat.islnk is not defined

- name: read the key from auth token file
  slurp:
    src: scyllamgr_auth_token.txt
  register: b64auth_token
  delegate_to: localhost
  run_once: true

- name: Decode data and store as fact
  set_fact:
    auth_token: "{{ b64auth_token.content | b64decode }}"
  delegate_to: localhost
  run_once: true

- name: apply the configuration data to scylla-manager-agent.yaml
  template:
    src: templates/scylla-manager-agent.yaml.j2
    dest: /etc/scylla-manager-agent/scylla-manager-agent.yaml
    owner: root
    group: root
    mode: '0644'
  become: true
  register: manager_agent_config_change

- name: run scyllamgr_agent_setup
  shell: |
    scyllamgr_agent_setup -y
  become: true
  when: manager_agent_config_change.changed

- name: start and enable the Manager agent service
  service:
    name: scylla-manager-agent
    state: restarted
    enabled: yes
  become: true
  when: manager_agent_config_change.changed and start_scylla_service is defined and start_scylla_service|bool
  ignore_errors: true
  #TODO: remove ignore_errors when ansible is bumped to 2.10.4 or 2.9.16 as per https://github.com/ansible/ansible/issues/71528


