---
- name: create the install directory
  file:
    path: "{{ scylla_monitoring_deploy_path }}"
    state: directory
    mode: '1775'
    recurse: yes
    owner: "{{ ansible_user_id }}"
  become: true

- name: create the data directory
  file:
    path: "{{ scylla_monitoring_data_path }}"
    state: directory
    mode: '1777'
    recurse: yes
    owner: "{{ ansible_user_id }}"
  become: true

- name: change permissions for the data directory to nobody
  file:
    path: "{{ scylla_monitoring_data_path }}"
    state: directory
    mode: '1777'
    recurse: yes
    owner: "nobody"
  become: true
  when: run_docker_with_sudo is defined and run_docker_with_sudo|bool == True

- name: create the config directory
  file:
    path: "{{ scylla_monitoring_config_path }}"
    state: directory
    mode: '1775'
    recurse: yes
    owner: "{{ ansible_user_id }}"
  become: true

- name: create the prom_rules directory
  file:
    path: "{{ scylla_monitoring_prom_rules_path }}"
    state: directory
    mode: '1775'
    recurse: yes
    owner: "{{ ansible_user_id }}"
  become: true

- name: create the alert data directory
  file:
    path: "{{ scylla_monitoring_alertdata_path }}"
    state: directory
    mode: '1777'
    recurse: yes
    owner: "{{ ansible_user_id }}"
  become: true

- name: download the monitoring archive
  get_url:
    url: "{{ scylla_monitoring_archive_url }}"
    dest: "{{ scylla_monitoring_deploy_path }}"
    mode: '0644'
    owner: "{{ ansible_user_id }}"
  register: monitoring_archive

- name: download and unpack the monitoring archive
  unarchive:
    src: "{{ monitoring_archive.dest }}"
    dest: "{{ scylla_monitoring_deploy_path }}"
    remote_src: yes
    list_files: yes
  register: unpacked_files

- set_fact:
    base_dir: "{{ scylla_monitoring_deploy_path }}/{{ unpacked_files.files[0] }}"

- stat:
    path: "{{ scylla_servers_yml_path }}"
  register: scylla_servers_stat
  delegate_to: localhost
  run_once: true

- name: insert scylla_servers.yml if provided by the user
  copy:
    src: "{{ scylla_servers_yml_path }}"
    dest: "{{ scylla_monitoring_config_path }}/scylla_servers.yml"
    mode: '0644'
  when: scylla_servers_stat.stat.exists|bool

- name: generate scylla_servers.yml for monitoring using nodetool status
  block:
    - command: nodetool status
      register: nodetool_status_out
      delegate_to: "{{ groups['scylla'][0] }}"

    - shell: "{{ base_dir }}/genconfig.py -c {{ scylla_cluster_name }} -NS -o {{ scylla_monitoring_config_path }}/scylla_servers.yml"
      args:
        stdin: "{{ nodetool_status_out.stdout }}"
  when: use_nodetool_status_with_genconfig|bool and scylla_servers_stat.stat.exists|bool == false
  run_once: true

- name: generate scylla_servers.yml for monitoring using the inventory
  block:
    # Resulting map -> {'-dc dc1': [node1, node2, node3], '-dc dc2': [node4, node5, node6]}
    - name: Create a map from dc to its list of nodes
      set_fact:
        dc_to_node_list: "{{ dc_to_node_list | default({}) | combine( {'-dc ' + hostvars[item]['dc']: (dc_to_node_list | default({}))['-dc ' + hostvars[item]['dc']] | default([]) + [item]} ) }}"
      loop: "{{ groups['scylla'] }}"

    # Resulting str -> "-dc dc1:node1,node2,node3 -dc dc2:node4,node5,node6"
    - name: Convert dc_to_node_list to a string to be used as argument for genconfig.py
      set_fact:
        dc_to_node_list_str: "{{ dc_to_node_list.keys() | zip(dc_to_node_list.values()) | map('join', ':') | join(' ') | replace('[','') | replace(']','') | replace(\"'\", '') | replace (', ', ',') }}"

    - shell: "{{ base_dir }}/genconfig.py -c {{ scylla_cluster_name }} -o {{ scylla_monitoring_config_path }}/scylla_servers.yml {{ dc_to_node_list_str }}"
  when: use_nodetool_status_with_genconfig|bool == false and scylla_servers_stat.stat.exists|bool == false
  run_once: true

- name: set up scylla_manager_servers.yml
  copy:
    content: |
      - targets:
        - {{ groups['scylla-manager'][0]|default('172.17.0.1') }}:5090
    dest: "{{ scylla_monitoring_config_path }}/scylla_manager_servers.yml"
    mode: '0644'

- name: set prometheus rules file from preset file
  copy:
    src: "{{ prometheus_rules_file }}"
    dest: "{{ scylla_monitoring_prom_rules_path }}/userdefined.rules.yml"
    mode: '0644'
  when: prometheus_rules_file is defined and prometheus_rules_file != 'default'

- name: Check that prometheus rules file from the default file exists
  stat:
    path: "{{ base_dir }}/prometheus/prometheus.rules.yml"
  register: prom_rules_file

- name: set prometheus rules file from the default file
  copy:
    src: "{{ base_dir }}/prometheus/prometheus.rules.yml"
    remote_src: true
    dest: "{{ scylla_monitoring_prom_rules_path }}/prometheus.rules.yml"
    mode: '0644'
  when: prometheus_rules_file is defined and prometheus_rules_file == 'default' and prom_rules_file.stat.exists

- name: Check that prometheus rules file from the default file exists in new 3.8 path
  stat:
    path: "{{ base_dir }}/prometheus/prom_rules/prometheus.rules.yml"
  register: prom_rules_sub_file

- name: copy ALL rules files from the default prom_rules file location
  copy:
    src: "{{ base_dir }}/prometheus/prom_rules/"
    remote_src: true
    dest: "{{ scylla_monitoring_prom_rules_path }}/"
    mode: '0755'
  when: prom_rules_sub_file.stat.exists

- name: Delete backfill directory
  file:
    state: absent
    path: "{{ scylla_monitoring_prom_rules_path }}/back_fill/"

- name: set prometheus template file from preset file
  copy:
    src: "{{ prometheus_yml_template_file }}"
    dest: "{{ scylla_monitoring_config_path }}/prometheus.yml.template"
    mode: '0644'
  when: prometheus_yml_template_file is defined and prometheus_yml_template_file != 'default'

- name: set prometheus template from the default file
  copy:
    src: "{{ base_dir }}/prometheus/prometheus.yml.template"
    remote_src: true
    dest: "{{ scylla_monitoring_config_path }}/prometheus.yml.template"
    mode: '0644'
  when: prometheus_yml_template_file is defined and prometheus_yml_template_file == 'default'

- name: set rule_config file from preset file
  copy:
    src: "{{ rule_config_file }}"
    dest: "{{ scylla_monitoring_config_path }}/rule_config.yml"
    mode: '0644'
  when: rule_config_file is defined and rule_config_file != 'default'

- name: set rule_config from the default file
  copy:
    src: "{{ base_dir }}/prometheus/rule_config.yml"
    remote_src: true
    dest: "{{ scylla_monitoring_config_path }}/rule_config.yml"
    mode: '0644'
  when: rule_config_file is defined and rule_config_file == 'default'
