---
- name: Populate service facts
  service_facts:

- name: restart the docker daemon again
  service:
    name: docker
    state: restarted
    enabled: yes
  become: true
  when: ansible_facts.services["docker.service"] is defined

- name: update docker.sock permissions to work around the restart issue
  file:
    path: /var/run/docker.sock
    owner: root
    group: root
    mode: '0666'
  become: true
  when: ansible_facts.services["docker.service"] is defined

- name: Start monitoring
  block:
  - name: ensure monitoring is stopped
    shell: |
      cd {{ base_dir }}
      ./kill-all.sh
      sudo ./kill-all.sh

  - name: start scylla-monitoring
    shell: |
      cd {{ base_dir }}
      ./start-all.sh \
        -d {{ scylla_monitoring_data_path }} \
        -f {{ scylla_monitoring_alertdata_path }} \
        -v {{ scylla_monitoring_dashboards_versions|join(',') }} \
        -s {{ scylla_monitoring_config_path }}/scylla_servers.yml \
        -N {{ scylla_monitoring_config_path }}/scylla_manager_servers.yml \
        -r {{ scylla_monitoring_config_path }}/rule_config.yml \
        -R {{ scylla_monitoring_prom_rules_path }}/ \
        -b --storage.tsdb.retention.time={{ scylla_monitoring_retention }} \
        {{ scylla_monitoring_params | default('') }}
    ignore_errors: true

  # Workaround for potential inner networking issue under docker
  - name: Stop monitoring again
    shell: |
      cd {{ base_dir }}
      ./kill-all.sh
      sudo ./kill-all.sh

  - name: Restart the docker service
    service:
      name: docker
      state: restarted
    become: true

  - name: start scylla-monitoring
    shell: |
      cd {{ base_dir }}
      ./start-all.sh \
        -d {{ scylla_monitoring_data_path }} \
        -f {{ scylla_monitoring_alertdata_path }} \
        -v {{ scylla_monitoring_dashboards_versions|join(',') }} \
        -s {{ scylla_monitoring_config_path }}/scylla_servers.yml \
        -N {{ scylla_monitoring_config_path }}/scylla_manager_servers.yml \
        -r {{ scylla_monitoring_config_path }}/rule_config.yml \
        -R {{ scylla_monitoring_prom_rules_path }}/ \
        -b --storage.tsdb.retention.time={{ scylla_monitoring_retention }} \
        {{ scylla_monitoring_params | default('') }}
  when:
    - run_docker_with_sudo is defined and run_docker_with_sudo|bool == False or
      run_docker_with_sudo is not defined

- name: Start monitoring
  block:
  - name: ensure monitoring is stopped
    shell: |
      cd {{ base_dir }}
      ./kill-all.sh
    become: true

  - name: start scylla-monitoring
    shell: |
      cd {{ base_dir }}
      ./start-all.sh \
        -d {{ scylla_monitoring_data_path }} \
        -f {{ scylla_monitoring_alertdata_path }} \
        -v {{ scylla_monitoring_dashboards_versions|join(',') }} \
        -s {{ scylla_monitoring_config_path }}/scylla_servers.yml \
        -N {{ scylla_monitoring_config_path }}/scylla_manager_servers.yml \
        -r {{ scylla_monitoring_config_path }}/rule_config.yml \
        -R {{ scylla_monitoring_prom_rules_path }}/ \
        -b --storage.tsdb.retention.time={{ scylla_monitoring_retention }} \
        {{ scylla_monitoring_params | default('') }}
    ignore_errors: true
    become: true

  # Workaround for potential inner networking issue under docker
  - name: Stop monitoring again
    shell: |
      cd {{ base_dir }}
      ./kill-all.sh
    become: true

  - name: Restart the docker service
    service:
      name: docker
      state: restarted
    become: true

  - name: start scylla-monitoring
    shell: |
      cd {{ base_dir }}
      ./start-all.sh \
        -d {{ scylla_monitoring_data_path }} \
        -f {{ scylla_monitoring_alertdata_path }} \
        -v {{ scylla_monitoring_dashboards_versions|join(',') }} \
        -s {{ scylla_monitoring_config_path }}/scylla_servers.yml \
        -N {{ scylla_monitoring_config_path }}/scylla_manager_servers.yml \
        -r {{ scylla_monitoring_config_path }}/rule_config.yml \
        -R {{ scylla_monitoring_prom_rules_path }}/ \
        -b --storage.tsdb.retention.time={{ scylla_monitoring_retention }} \
        {{ scylla_monitoring_params | default('') }}
    become: true
  when: run_docker_with_sudo is defined and run_docker_with_sudo|bool == True
