---
- name: Scylla node
  hosts: scylla
  become: true
  vars:

    # variables for the Scylla node role (can be set here or in the role's vars/main.yml)
    scylla_repos:
      - 'http://repositories.scylladb.com/scylla/repo/****/centos/scylladb-4.1.repo'
        #scylla_repo_keyserver: 'hkp://keyserver.ubuntu.com:80'
        #scylla_repo_keys:
        #- 5e08fbd8b5d6ec9c
        #- 6B2BFD3660EF3F5B
        #- 17723034C56D4B19
    scylla_dependencies:
      - curl
      - wget
    scylla_version: latest
    scylla_edition: oss
    scylla_cluster_name: 'democluster'
    scylla_snitch: GossipingPropertyFileSnitch
    scylla_io_probe: True
    enable_mc_format: true
    scylla_seeds:
      - "{{ groups['scylla'][0] }}"
      - "{{ groups['scylla'][1] }}"
    scylla_api_address: '127.0.0.1'
    scylla_api_port: '10000'
    generate_monitoring_config: True
    scylla_manager_enabled: true
    scylla_manager_repo_url: "http://downloads.scylladb.com/rpm/centos/scylladb-manager-2.1.repo"

  roles:
    - ansible-scylla-node


