#!/usr/sbin/ansible-playbook ./async_task_cmd.yml -vvvv
---
- hosts: localhost
  tasks:
    - name: Async command
      async_task:
        cmd: sleep 10
        alias: blah
        async: 1000
        retries: 720
        delay: 5
