#!/usr/sbin/ansible-playbook ./async_task_cmd_argv.yml -vvvv
---
- hosts: localhost
  tasks:
    - name: Long running task
      async_task:
        argv:
          - sleep
          - 10
        alias: blah
        async: 1000
        retries: 720
        delay: 5
