---
# Facts gathering
- name: Populate service facts
  service_facts:

- name: Populate package facts
  package_facts:
    manager: auto

# Main tasks file for ansible-scylla-common
- name: "Include disable firewall task"
  include_tasks: disable_firewall.yml
  when: disable_firewall

- name: "Include check ports task"
  include_tasks: check_ports.yml
  vars:
    source_host_group: "{{ required_ports_dict_item.key }}"
    ports_to_test: "{{ required_ports_dict_item.value }}"
  when: required_ports_open_to is defined
  loop_control:
    loop_var: required_ports_dict_item
  loop: "{{ required_ports_open_to | dict2items }}"
