[authentication] ;; Change these after the user/password has been updated from the default
username = cassandra
password = cassandra

[connection]
hostname = {{ groups['scylla'][0] }}
port = 9142
factory = cqlshlib.ssl.ssl_transport_factory

[ssl]
version=TLSv1_2
certfile = {{ scylla_ssl.cert_path }}/{{ scylla_cluster_name }}-ca.crt
validate = true ;; Optional, true by default. See the paragraph below.

[certfiles] ;; Optional section, overrides the default certfile in the [ssl] section.
