{% if scylla_io_probe|bool and scylla_io_probe_dc_aware|bool %}
{{ hostvars[dc_to_node_list[dc][0]]['io_properties'] | to_yaml(indent=2) }}
{% else %}
{{ io_properties | to_yaml(indent=2) }}
{% endif %}
