---
- name: install and configure Scylla Manager
  block:
    - name: Add an apt key by id from a keyserver
      apt_key:
        keyserver: "{{ scylla_repo_keyserver }}"
        id: "{{ item }}"
      with_items: "{{ scylla_manager_repo_keys }}"
      when: scylla_repo_keyserver is defined and scylla_manager_repo_keys is defined and (scylla_manager_repo_keys|length > 0)

    - name: add Scylla Manager repo
      get_url:
        url: "{{ scylla_manager_deb_repo_url }}"
        dest: '/etc/apt/sources.list.d/{{ scylla_manager_deb_repo_url.split("/")[-1] | lower }}'
        mode: '0644'
        owner: root
      when: scylla_manager_deb_repo_url.split(".")[-1] == "list"

    - name: refresh apt cache
      apt:
        update_cache: yes

    - name: install the manager server
      apt:
        name:
          - scylla-manager-server
          - scylla-manager-client
        state: present
      when: (enable_upgrade is not defined) or (enable_upgrade is defined and enable_upgrade|bool == False)

    - name: install the manager server
      apt:
        name:
          - scylla-manager-server
          - scylla-manager-client
        state: latest
      when: enable_upgrade is defined and enable_upgrade|bool
  become: true





