{% if monitoring_cql_username is defined and monitoring_cql_password is defined %}
export SCYLLA_USER={{ monitoring_cql_username | quote }}
export SCYLLA_PSSWD={{ monitoring_cql_password | quote }}
{% endif %}
