---
name: Molecule Test for ansible-scylla-monitoring role
on:
  push:
    paths:
      - 'ansible-scylla-monitoring/**'
  pull_request:
    paths:
      - 'ansible-scylla-monitoring/**'
    branches:
      - master
jobs:
  build:
    runs-on: self-hosted
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        molecule_distro:
          - ubuntu2004
    defaults:
      run:
        working-directory: ansible-scylla-monitoring
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pip-tools
          pip-sync requirements.txt requirements-dev.txt
          ansible --version
          molecule --version
      - name: Test with molecule
        run: |
          molecule destroy --scenario-name ${{ matrix.molecule_distro }} && molecule test --scenario-name ${{ matrix.molecule_distro }}
